
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1 align="center">Zero Hunger</h1>
<p align="center">Feeding Change, Tracking Impact: Streamlining Food Rescue for a Hunger-Free Tomorrow!</p>
<div align="center">
    <button class="btn btn-primary" onclick="window.location.href = '/Restaurant/Dashboard';"> Restaurant </button>
    <button class="btn btn-success" onclick="window.location.href = '/Employee/Dashboard';"> Employee </button>
</div>
