
@{
    ViewBag.Title = "EmployeeProfile";
    Layout = "~/Views/Shared/Employee.cshtml";
}

<h2>EmployeeProfile</h2>
<table align="center">

    <tr>
        <td><h3>Name :  </h3></td>
        <td><h3>@Model.Name</h3></td>
    </tr>
    <tr>
        <td><h3>Email :  </h3></td>
        <td><h3>@Model.Email</h3></td>
    </tr>
    <tr>
        <td><h3>Gender :  </h3></td>
        <td><h3>@Model.Gender</h3></td>
    </tr>
    <tr>
        <td><h3>Dob :  </h3></td>
        <td><h3>@Model.Dob</h3></td>
    </tr>
</table>

