
@{
    ViewBag.Title = "RestaurantProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RestaurantProfile</h2>

<table align="center">
    
    <tr>
        <td><h3>Restaurant Name :  </h3></td>
        <td><h3>@Model.Name</h3></td>
    </tr>
    <tr>
        <td><h3>Restaurant Location :  </h3></td>
        <td><h3>@Model.Location</h3></td>
    </tr>
</table>
